# Ignore environment variable files
.env

# Ignore Python virtual environments
venv/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore secrets files if any
secrets.toml

# Ignore system files
.DS_Store
Thumbs.db
